.footer {
  margin-top: 2em;
  background-color: black;
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.footer a {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #f3bf99;
}
